body {
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
    padding: 0;
    font-size: 16px;
    line-height: 1.6;
}

h1{
    font-family: "Freehand", cursive;
    font-weight: 500;
    color: #333;
}
h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

/* Header Styling */
header {
    background-color: #E6A4B4;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    letter-spacing: 3px;
    padding: 5px 10px; 
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

/* Logo Styling */
.logo {
    font-family: "Freehand", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    color: black;
    text-decoration: none;
    margin-left: 30px;
}

/* Navigation Styling */
nav {
    display: flex;
    align-items: center; /* Center items vertically */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 30px; /* Adjust spacing between nav items */
}

nav ul li a {
    color: black;
    text-decoration: none;
    position: relative;
    font-size: 14px;
    line-height: 1;
    padding: 5px 0;
}

nav ul li a::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin-top: 0px; 
}

.mySlides,.mySlides1 {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

main {
    padding: 50px 15px; 
    background-color: #fff;
}

.intro-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
}

.intro-image {
    margin-left: 100px;
    max-width: 550px;
}

.intro-text{
    font-size: 18px;
    padding-left:40px;
    max-width: 600px;
    letter-spacing: 2px;
}

/* Footer Styling */
footer {
    background-color: #E6A4B4;
    color: #333;
    left:0;
    text-align: center;
    padding: 5px 10px; 
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    position: relative;
}

footer p {
    margin: 0;
    font-size: 16px;
}

footer a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    margin: 0 10px; /* Spacing between links */
}

footer a:hover {
    text-decoration: underline; 
}

form {
    max-width: 500px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

form button {
    background-color: #fff; 
    color: #6f0936; 
    border: 2px solid #6f0936; 
    padding: 10px 15px; 
    cursor: pointer;
    font-size: 16px; 
    transition: all 0.3s ease;
    width: auto;
    justify-content: center;
}

form button:hover {
    background-color: #6f0936;
    color: #F6F5F2; 
    border: 2px solid #6f0936; 
}

text {
        width: 800px;
        text-align: center;
}

.slideshow2-container {
    float: left;
    width: 100%; 
    margin-left: 0; 
    margin-right: 20px;
    padding: 10px; 
}


.intro-section::after {
    content: "";
    display: table;
    clear: both;
}

.intro-image2 {
    margin-left: 30px;
    max-width: 600px;
}

.mySlides2 {
    display: none;
}

.slideshow-text {
    font-size: 18px;
    padding-right:40px;
    max-width: 600px;
    padding-left: 40px;
    color: #6f0936;
}

.quote{
    margin-top: 50px;
    font-weight: 400;
    text-align: center;
    padding:60px;
        background-image: url('images/quotebg.jpg'); 
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat;      
}

.section-title {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    margin-top: 50px;
}

.why-choose-us {
    text-align: center;
    display: flex;
    overflow-x: auto;
    padding: 20px;
    gap: 20px;
    max-width: 100vw;
    justify-content: center;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F5F2;
    border-radius: 90px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 0 0 auto;
    width: 240px;
    height: 450px;
    padding: 5px 5px;
    box-sizing: border-box;
    justify-content: center;
}

.feature img {
    width: 200px;
    height: 200px;
    border-radius: 90px;
}

.feature .text {
    text-align: center;
    color: #6f0936;
}

.feature h1 {
    margin: 20px 0 10px;
    color: #333;
}

.feature p {
    margin: 0;
    color: #6f0936;
}
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    background-color: #ffcbd1;
    border-radius: 15px;
    box-shadow: #ffcbd1;
    margin-top: 50px;
}

.review {
    max-width: 600px;
    margin: 20px 0;
    padding: 20px;
    text-align: center;
    font-style: italic;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.review p {
    margin: 0 0 10px;
    font-size: 18px;
    color: #6f0936;
}

.review span {
    font-weight: bold;
    color: #333;
}
.stars {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.star {
    font-size: 24px;
    color: #ccc;
    margin-right: 5px;
}

.star.filled {
    color: #ffd700; 
}

.review p {
    margin: 0 0 10px;
    font-size: 18px;
    color: #6f0936;
}

.review span {
    font-weight: bold;
    color: #333;
}


@media (max-width: 768px) {
    
    body {
        font-family: 'Playfair Display', serif;
        margin-top: 280px;
        padding: 0;
        font-size: 10px;
        line-height: 1.3;
        text-align: center;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        overflow-x: visible;
        margin-top: 200px;
        position: relative;
    }

    .prev, .next {
        top: 40%; 
        margin-top: 0px;
        margin-left: -215px;
        padding: 12px;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }


    h1{
        font-family: "Freehand", cursive;
        font-weight: 200;
        color: #333;
    }

    header {
        text-align: center;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        background-color: rgba(230, 164, 180, 0.9);
    }

    .logo {
        display: inline-block; /* Ensure the logo is treated as a block element */
        margin: 0 auto; /* Center the logo */
        margin-bottom: 10px;
    }

    nav {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
       
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
        
    }

    nav ul li a {
        text-align: center;
        padding: 5px;
        display: block;
        width: 100%;
    }

    .intro-section {
        flex-direction: column; 
        align-items: flex-start; 
        margin-top: 30px; 
    }

    .intro-image {
        margin-left: 0; 
        max-width: 100%; 
    }

    .intro-image2 {
        margin-left: 0; 
        max-width: 100%; 
    }

    .intro-text {
        padding-left: 0;
        padding-top: 20px; 
        max-width: 100%; 
        font-size: 16px; 
    }
    
    .slideShow2-container {
        display: flex;
        flex-direction: column;
        overflow-x: visible;
        margin-top: 200px;
        position: relative;
    }
   
    .quote {
        padding: 40px; /* Reduce padding for smaller screens */
        font-size: 16px; /* Slightly reduce font size */
    }

    .why-choose-us {
        flex-direction: column; /* Stack features vertically */
        align-items: center; /* Center items horizontally */
    }

    .feature {
    
        width: 60%; 
        height: 400px; 
        margin-bottom: 20px; 
        border-radius: 50px;
    }

    .feature img {
        width: 200px; 
        height: 200px;
        border-radius: 50px;
    }

    .feature p {
       font-size: 15px; 
    }

    .feature h1{
        font-size: 50px;
    }
    
footer{
        width:100%;
        text-align: center;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        background-color: rgba(230, 164, 180, 0.9);
    

}






